.logo-img{
    height: 80px;
    width: 100px;
}
.nav-link a{
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    margin-right: 5px;
    color: #333;

}
.nav-link > a:hover{
   background-color: rgb(255, 140, 0);
   color: #fff;
   
}
.header-input input{
    border: 1px solid #eaeaea;
    padding: 10px 20px;
    border-radius: 5px;
}

.avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
